/* estilo base do sinalizador */
.status-dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
    background-color: #2f00ff;
}
/* Estado ativo: cor verde */
.ativo {
    background-color: #28a745;
}
/* Estado desativado: cor vermelha */
.desativado {
    background-color: #ff0000;
}

 /* Usar para esconder elemento */
.esconder {
    display: none;
}